/*Нормалайз*/
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
}
/*==========================*/
body{
	background: #404040;
	color: #fff;
}

.container{
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	border: 2px solid #c7c7c7;
}

header{
	text-align: center;
	border-bottom: 1px solid #c7c7c7;
}
header h1{
	font-size: 60px;
}
header p{
	font-size: 20px;
}

footer{
	text-align: center;
	border-top: 1px solid #c7c7c7;
}

section{
	display: flex;
}

aside{
	flex: 3;
	border-right: 1px solid #c7c7c7;
}
main{
	flex: 7;
}

label{
	display: block;
}


main {
  	display: flex;
  	flex-flow: row wrap;
  	justify-content: space-around;
}

.section-product {
  width: 45%;
  margin: 5px;
  background-color: black;
  
  
}


.hide{
	display: none;
}
.show{
	display: block;
}













